In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("ETL\movies_dataset.csv")

C:\Users\victo\AppData\Local\Temp\ipykernel_760\3114396283.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("ETL\movies_dataset.csv")

In [9]:
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

# Desanidado de Movies

In [10]:
Movi=df[["belongs_to_collection",'genres',"spoken_languages","production_companies","production_countries"]]

In [11]:
Movi.to_csv("Movie.csv",index=False)

# Desanidado de Credit

In [5]:
df=pd.read_csv("credits.csv")

In [6]:
credits=df[["cast","crew"]]

In [7]:
credits.to_csv("desa_credits.csv",index=False)

# Data Frame para Funciones

In [8]:
df=pd.read_csv("Data_Completo.csv")

In [9]:
Funcio=df[['title','original_language',"release_year","runtime",'name_prod',"Return",'name_Count',"release_date","revenue","Return",'Director']]

In [10]:
Funcio.to_csv("Funcio.csv",index=False)

## Data para Machine Learnig

In [4]:
df=pd.read_csv("Data_Completo.csv")

In [5]:
df.columns

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'release_date', 'revenue', 'runtime', 'status', 'tagline',
       'title', 'vote_average', 'vote_count', 'id_belong', 'name_belong',
       'name_genres', 'id_genres', 'name_Spoken', 'iso_639_1_Spoken',
       'id_prod', 'name_prod', 'iso_3166_1_Count', 'name_Count', 'id.1',
       'Actor', 'Director', 'release_year', 'Return'],
      dtype='object')

In [6]:
Machine=df[['title',"name_genres",'popularity']]

In [8]:
Machine

                             title               name_genres  popularity
0                        Toy Story   Animation Comedy Family   21.946943
1                          Jumanji  Adventure Fantasy Family   17.015539
2                 Grumpier Old Men            Romance Comedy   11.712900
3                Waiting to Exhale      Comedy Drama Romance    3.859495
4      Father of the Bride Part II                    Comedy    8.387519
...                            ...                       ...         ...
45001              Caged Heat 3000           Science Fiction    0.661558
45002                   Robin Hood      Drama Action Romance    5.683753
45003          Century of Birthing                     Drama    0.178241
45004                     Betrayal     Action Drama Thriller    0.903007
45005                     Queerama                       NaN    0.163015

[45006 rows x 3 columns]

In [14]:
Machine.to_csv("Machine.csv",index=False)

## Data para el EDA

In [5]:
EDA=df[['title','popularity','vote_average','vote_count','runtime','budget','revenue','Return',"popularity","vote_average","budget","revenue",'release_date','release_year','name_Count',"name_genres"]]

In [6]:
EDA.to_csv("EDA.csv",index=False)