# Proceso de Transformacion del DataSets Original

Limpiamos los Datos del Data set

In [182]:
import pandas as pd
import ast
import numpy as np

Abrimos los Data con los que vamos a trabajar.-

In [183]:
df0=pd.read_csv("movies_dataset.csv")
df1=pd.read_csv("Desa_Movie.csv")
df2=pd.read_csv("Credit_desani.csv")

C:\Users\victo\AppData\Local\Temp\ipykernel_11572\365795473.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df0=pd.read_csv("movies_dataset.csv")

In [184]:
Movies_Compl=pd.concat([df0,df1,df2],axis=1)

In [185]:
Movies_Compl.dropna(subset=['release_date'], inplace=True)

In [186]:
Movies_Compl['release_date'] = pd.to_datetime(Movies_Compl['release_date'], errors='coerce')
Movies_Compl['release_year'] = Movies_Compl['release_date'].dt.year
Movies_Compl = Movies_Compl.drop(Movies_Compl[Movies_Compl['release_year'] <= 1920].index, axis=0)

In [187]:
Movies_Compl["budget"]= pd.to_numeric(Movies_Compl["budget"], errors='coerce').fillna(0)

In [188]:
Movies_Compl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45006 entries, 0 to 45465
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45006 non-null  object
 1   belongs_to_collection  4484 non-null   object
 2   budget                 45006 non-null  float64
 3   genres                 45006 non-null  object
 4   homepage               7767 non-null   object
 5   id                     45006 non-null  object
 6   imdb_id                44992 non-null  object
 7   original_language      44997 non-null  object
 8   original_title         45006 non-null  object
 9   overview               44066 non-null  object
 10  popularity             45004 non-null  object
 11  poster_path            44683 non-null  object
 12  production_companies   45006 non-null  object
 13  production_countries   45006 non-null  object
 14  release_date           45003 non-null  datetime64[ns]
 15  revenue                45003 non-null  float64
 16  runtime                44757 non-null  float64
 17  spoken_languages       45003 non-null  object
 18  status                 44924 non-null  object
 19  tagline                20375 non-null  object
 20  title                  45003 non-null  object
 21  video                  45003 non-null  object
 22  vote_average           45003 non-null  float64
 23  vote_count             45003 non-null  float64
 24  id_belong              45006 non-null  float64
 25  name_belong            45003 non-null  object
 26  name_genres            42686 non-null  object
 27  id_genres              42686 non-null  object
 28  name_Spoken            41273 non-null  object
 29  iso_639_1_Spoken       41396 non-null  object
 30  id_prod                33298 non-null  object
 31  name_prod              33298 non-null  object
 32  iso_3166_1_Count       38858 non-null  object
 33  name_Count             38858 non-null  object
 34  id                     45006 non-null  int64
 35  Actor                  45006 non-null  object
 36  Director               44140 non-null  object
 37  release_year           45003 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(29)
memory usage: 13.4+ MB

In [189]:
Movies_Compl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45006 entries, 0 to 45465
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45006 non-null  object
 1   belongs_to_collection  4484 non-null   object
 2   budget                 45006 non-null  float64
 3   genres                 45006 non-null  object
 4   homepage               7767 non-null   object
 5   id                     45006 non-null  object
 6   imdb_id                44992 non-null  object
 7   original_language      44997 non-null  object
 8   original_title         45006 non-null  object
 9   overview               44066 non-null  object
 10  popularity             45004 non-null  object
 11  poster_path            44683 non-null  object
 12  production_companies   45006 non-null  object
 13  production_countries   45006 non-null  object
 14  release_date           45003 non-null  datetime64[ns]
 15  revenue                45003 non-null  float64
 16  runtime                44757 non-null  float64
 17  spoken_languages       45003 non-null  object
 18  status                 44924 non-null  object
 19  tagline                20375 non-null  object
 20  title                  45003 non-null  object
 21  video                  45003 non-null  object
 22  vote_average           45003 non-null  float64
 23  vote_count             45003 non-null  float64
 24  id_belong              45006 non-null  float64
 25  name_belong            45003 non-null  object
 26  name_genres            42686 non-null  object
 27  id_genres              42686 non-null  object
 28  name_Spoken            41273 non-null  object
 29  iso_639_1_Spoken       41396 non-null  object
 30  id_prod                33298 non-null  object
 31  name_prod              33298 non-null  object
 32  iso_3166_1_Count       38858 non-null  object
 33  name_Count             38858 non-null  object
 34  id                     45006 non-null  int64
 35  Actor                  45006 non-null  object
 36  Director               44140 non-null  object
 37  release_year           45003 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(29)
memory usage: 13.4+ MB

In [190]:
Movies_Compl["Return"]=Movies_Compl["revenue"]/Movies_Compl["budget"]

In [191]:
Columnas_a_Eliminar=['video','belongs_to_collection',"genres","spoken_languages","original_title","poster_path", "homepage",'genres',"production_companies","production_countries"	]
Movies_Compl=Movies_Compl.drop(Columnas_a_Eliminar,axis=1)
Movies_Compl.head(3)

,adult,budget,id,imdb_id,original_language,overview,popularity,release_date,revenue,runtime,...,iso_639_1_Spoken,id_prod,name_prod,iso_3166_1_Count,name_Count,id,Actor,Director,release_year,Return
0,False,30000000.0,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,...,en,3,Pixar Animation Studios,US,United States of America,862,'Tom Hanks' 'Tim Allen' 'Don Rickles' 'Jim Va...,'John Lasseter',1995.0,12.451801
1,False,65000000.0,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,...,en fr,559 2550 10201,TriStar Pictures Teitler Film Interscope Commu...,US,United States of America,8844,'Robin Williams' 'Jonathan Hyde' 'Kirsten Dun...,'Joe Johnston',1995.0,4.043035
2,False,0.0,15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,...,en,6194 19464,Warner Bros. Lancaster Gate,US,United States of America,15602,'Walter Matthau' 'Jack Lemmon' 'Ann-Margret' ...,'Howard Deutch',1995.0,NaN

In [192]:
Movies_Compl["Return"]=Movies_Compl["Return"].replace(np.inf, 0)
Movies_Compl["budget"].astype(int)
Movies_Compl["popularity"]= pd.to_numeric(Movies_Compl["popularity"], errors='coerce').fillna(0)
Movies_Compl["runtime"]=Movies_Compl["runtime"].fillna(0)
Movies_Compl["release_year"]=Movies_Compl["release_year"].fillna(0)
#Movies_Compl["Return"]= pd.to_numeric(Movies_Compl["Return"], errors='coerce').fillna(0)

Movies_Compl["runtime"]=Movies_Compl["runtime"].astype(int)
#Movies_Compl["Return"] = Movies_Compl["Return"].round(2).astype(float)
Movies_Compl["release_year"]=Movies_Compl["release_year"].astype(int)

In [193]:
Movies_Compl.head(3)

,adult,budget,id,imdb_id,original_language,overview,popularity,release_date,revenue,runtime,...,iso_639_1_Spoken,id_prod,name_prod,iso_3166_1_Count,name_Count,id,Actor,Director,release_year,Return
0,False,30000000.0,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81,...,en,3,Pixar Animation Studios,US,United States of America,862,'Tom Hanks' 'Tim Allen' 'Don Rickles' 'Jim Va...,'John Lasseter',1995,12.451801
1,False,65000000.0,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104,...,en fr,559 2550 10201,TriStar Pictures Teitler Film Interscope Commu...,US,United States of America,8844,'Robin Williams' 'Jonathan Hyde' 'Kirsten Dun...,'Joe Johnston',1995,4.043035
2,False,0.0,15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101,...,en,6194 19464,Warner Bros. Lancaster Gate,US,United States of America,15602,'Walter Matthau' 'Jack Lemmon' 'Ann-Margret' ...,'Howard Deutch',1995,NaN

In [194]:
Movies_Compl.to_csv("Data_Completo.csv",index=False)