In [4]:
import pandas as pd
import ast
import numpy as np
df=pd.read_csv("desa_credits.csv")

Desanidando el CSV Credits

Comenzamos con el Cast

Solo los actores

In [5]:
#Relleno los Nulos y separo la Columna Cast

data=df["cast"]
data=data.str.replace("[]"," 'cast_id': null, 'character': null, 'credit_id': null, 'gender': null, 'id': null, 'name': null, 'order': null, 'profile_path': null'")

In [6]:
#Reemplazamos argumentos para poder separar y extraer las variabble que necesitamos


data=data.str.replace("{"," ")
data=data.str.replace("[","")
data=data.str.replace("]","")
data=data.str.replace("'cast_id':","")
data=data.str.replace("'character':","")
data=data.str.replace("'credit_id':","")
data=data.str.replace("'gender':","")
data=data.str.replace("'id':","")
data=data.str.replace("'name':","")
data=data.str.replace("'order':","")
data=data.str.replace("'profile_path':","")

In [7]:
#Creamos una funcion para poder separar los diccionarios de las filas

def Separar(lista):
    dat=lista.split("},")
    dat=pd.DataFrame(dat)
    dat=dat
   
    return dat

#Creamos funcion para separa en columnas cada variable

def fila(lista):
    dat=lista.split(", ")
    dat=pd.DataFrame(dat)
    dat=dat.T
   
    return dat

In [8]:
#Funcion por la cual vamos a hacer la Limpieza y quedarnos solamente con los actores

def Cast(x):
    var=x
    cast=Separar(var)
    cast=cast[0]
    cast=cast.str.replace("} ","")
    cast=pd.concat(list(map(lambda i: fila(i), cast)))

    cast=cast[[5]]
    cast.reset_index(inplace=True)
    cast=cast.rename(columns={5:"Actors"})
    cast=cast.drop(["index"],axis=1)
    cast["Actors"]=cast["Actors"].astype(str)

    cast=cast.T
    cast=cast.apply(lambda x: ''.join(x.astype(str)), axis=1)
    cast=pd.DataFrame(cast)

    return cast

In [9]:
cast=pd.DataFrame()
cast=pd.concat(list(map(lambda i: Cast(i), data)))
cast

                                                        0
Actors   'Tom Hanks' 'Tim Allen' 'Don Rickles' 'Jim Va...
Actors   'Robin Williams' 'Jonathan Hyde' 'Kirsten Dun...
Actors   'Walter Matthau' 'Jack Lemmon' 'Ann-Margret' ...
Actors   'Whitney Houston' 'Angela Bassett' 'Loretta D...
Actors   'Steve Martin' 'Diane Keaton' 'Martin Short' ...
...                                                   ...
Actors      'Leila Hatami' 'Kourosh Tahami' 'Elham Korda'
Actors   'Angel Aquino' 'Perry Dizon' 'Hazel Orencio' ...
Actors   'Erika Eleniak' 'Adam Baldwin' 'Julie du Page...
Actors   'Iwan Mosschuchin' 'Nathalie Lissenko' 'Pavel...
Actors                                               null

[45476 rows x 1 columns]

In [10]:
cast=cast.reset_index()
cast=cast.drop("index",axis=1)
cast=cast.rename(columns={0:"Actor"})
cast=cast["Actor"]
cast=pd.DataFrame(cast)
cast.head(3)

                                               Actor
0   'Tom Hanks' 'Tim Allen' 'Don Rickles' 'Jim Va...
1   'Robin Williams' 'Jonathan Hyde' 'Kirsten Dun...
2   'Walter Matthau' 'Jack Lemmon' 'Ann-Margret' ...

Desanidando el CSV Credits

Seguimos con el Crew

Solo los actores

In [11]:
data=df["crew"]
data=data.str.replace("[]"," \'credit_id\': null ,\'department\': null,\'gender\': null, \'id\': null,\'job\': null,\'name\': null, \'profile_path\': null")

In [12]:
data=data.str.replace("{","")
data=data.str.replace("[","")
data=data.str.replace("]","")
data=data.str.replace("\'credit_id\':","")
data=data.str.replace("\'department\':","")
data=data.str.replace("\'gender\':","")
data=data.str.replace("\'name\':","")
data=data.str.replace(" \'id\':","")
data=data.str.replace("\'name\':","")
data=data.str.replace(" \'profile_path\': ","")

In [13]:
def Separar_Crew(lista):
    dat=lista.split("},")
    dat=pd.DataFrame(dat)
    dat=dat
   
    return dat

In [14]:
def fila_Crew(lista):
    dat=lista.split(",")
    dat=pd.DataFrame(dat)
    dat=dat.T
   
    return dat

In [15]:
def Director(x):
    direc=Separar_Crew(x)
    direc=direc[0]
    direc=direc.str.replace("}","")

    crew= pd.concat(list(map(lambda i: fila_Crew(i), direc)))

    crew= crew[[4,5]]
    crew.reset_index(inplace=True)
    crew=crew.rename(columns={4:"job"})
    crew=crew.drop(["index"],axis=1)
    crew["job"]=crew["job"].astype(str)
    crew.head()

    resultado=crew.loc[crew["job"]==" 'job': 'Director'"]
    resultado=resultado[5]
    resultado=pd.DataFrame(resultado)
    resultado=resultado.T
    resultado["Director"] =resultado.apply(lambda x: ''.join(x.astype(str)), axis=1)
    resultado=resultado["Director"]
    resultado=pd.DataFrame(resultado)
    
    return resultado

In [16]:
Direc=pd.DataFrame()
Direc=pd.concat(list(map(lambda i: Director(i), data)))

In [17]:
Direc=Direc.reset_index()
Direc=Direc.drop("index",axis=1)
Direc=Direc["Director"]
Direc=pd.DataFrame(Direc)
Direc.head(3)

            Director
0    'John Lasseter'
1     'Joe Johnston'
2    'Howard Deutch'

In [19]:
credit=pd.concat([df,cast,Direc],axis=1)
credit=credit[["id","Actor","Director"]]

KeyError: "['id'] not in index"

In [ ]:
credit

,id,Actor,Director
0,862,'Tom Hanks' 'Tim Allen' 'Don Rickles' 'Jim Va...,'John Lasseter'
1,8844,'Robin Williams' 'Jonathan Hyde' 'Kirsten Dun...,'Joe Johnston'
2,15602,'Walter Matthau' 'Jack Lemmon' 'Ann-Margret' ...,'Howard Deutch'
3,31357,'Whitney Houston' 'Angela Bassett' 'Loretta D...,'Forest Whitaker'
4,11862,'Steve Martin' 'Diane Keaton' 'Martin Short' ...,'Charles Shyer'
...,...,...,...
45471,439050,'Leila Hatami' 'Kourosh Tahami' 'Elham Korda','Hamid Nematollah'
45472,111109,'Angel Aquino' 'Perry Dizon' 'Hazel Orencio' ...,'Lav Diaz'
45473,67758,'Erika Eleniak' 'Adam Baldwin' 'Julie du Page...,'Mark L. Lester'
45474,227506,'Iwan Mosschuchin' 'Nathalie Lissenko' 'Pavel...,'Yakov Protazanov'
45475,461257,null,'Daisy Asquith'

In [ ]:
credit.to_csv("Credit_desani.csv",index=False)