# Proceso de Transformacion del DataSets Preprocesado

Limpiamos los Datos del Data set

In [1]:
import pandas as pd
import ast
import numpy as np

## Abrimos el Data y enpezamos a hacer ETL

In [2]:
Movies_Compl=pd.read_csv("Data_Preprocesado.csv")

C:\Users\Usuario\AppData\Local\Temp\ipykernel_12584\3689963967.py:1: DtypeWarning: Columns (0,2,5,10,21) have mixed types. Specify dtype option on import or set low_memory=False.
  Movies_Compl=pd.read_csv("Data_Preprocesado.csv")

In [3]:
# Una de las tareas que se nos pidio fue que los valores nulos de los campos revenue, 
# budget deben ser rellenados por el número 0.

Movies_Compl.dropna(subset=['release_date'], inplace=True)

In [4]:
#Otra de las tareas que se nos asigno  que las columnas de fecha , deberán tener el formato AAAA-mm-dd, 
# además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

Movies_Compl['release_date'] = pd.to_datetime(Movies_Compl['release_date'], errors='coerce')
Movies_Compl['release_year'] = Movies_Compl['release_date'].dt.year
Movies_Compl = Movies_Compl.drop(Movies_Compl[Movies_Compl['release_year'] <= 1920].index, axis=0)

In [5]:
#Limpiamos los errores de la columna budget que nos hiba a inpedir hacer algunas funciones
Movies_Compl["budget"]= pd.to_numeric(Movies_Compl["budget"], errors='coerce').fillna(0)

In [6]:
# Vemos la Cantidad de nulos y se justifica borrarlos o reemplazarla con algun valor 
# para no tener incovenientes con las funciones
Movies_Compl.isnull().sum()

adult                        0
belongs_to_collection    40522
budget                       0
genres                       0
homepage                 37239
id                           0
imdb_id                     14
original_language            9
original_title               0
overview                   940
popularity                   2
poster_path                323
production_companies         0
production_countries         0
release_date                 3
revenue                      3
runtime                    249
spoken_languages             3
status                      82
tagline                  24631
title                        3
video                        3
vote_average                 3
vote_count                   3
id.1                         0
Actor                        0
Director                   866
id_belong                    0
name_belong                  3
name_genres               2320
id_genres                 2320
name_Spoken               3733
iso_639_1_Spoken          3610
id_prod                  11708
name_prod                11708
iso_3166_1_Count          6148
name_Count                6148
release_year                 3
dtype: int64

In [7]:
#Creamos una columna para ver el retorno de cada pelicula.-

Movies_Compl["Return"]=Movies_Compl["revenue"]/Movies_Compl["budget"]

In [8]:
#Eliminamos las columnas que no necesitamos
Columnas_a_Eliminar=['video','belongs_to_collection',"genres","spoken_languages","original_title","poster_path", "homepage",'genres',"production_companies","production_countries"	]
Movies_Compl=Movies_Compl.drop(Columnas_a_Eliminar,axis=1)
Movies_Compl.head(3)

,adult,budget,id,imdb_id,original_language,overview,popularity,release_date,revenue,runtime,...,name_genres,id_genres,name_Spoken,iso_639_1_Spoken,id_prod,name_prod,iso_3166_1_Count,name_Count,release_year,Return
0,False,30000000.0,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,...,Animation Comedy Family,16 35 10751,English,en,3,Pixar Animation Studios,US,United States of America,1995.0,12.451801
1,False,65000000.0,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,...,Adventure Fantasy Family,12 14 10751,English Français,en fr,559 2550 10201,TriStar Pictures Teitler Film Interscope Commu...,US,United States of America,1995.0,4.043035
2,False,0.0,15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,...,Romance Comedy,10749 35,English,en,6194 19464,Warner Bros. Lancaster Gate,US,United States of America,1995.0,NaN

In [9]:
# Estas son correciones que se hicieron a medida que las funciones se fueron creando 
# las deje como refencia de las transformaciones que se hiban haciendo a medida que se van creando las funciones.-
Movies_Compl["Return"]=Movies_Compl["Return"].replace(np.inf, 0)
Movies_Compl["budget"].astype(int)
Movies_Compl["popularity"]= pd.to_numeric(Movies_Compl["popularity"], errors='coerce').fillna(0)
Movies_Compl["runtime"]=Movies_Compl["runtime"].fillna(0)
Movies_Compl["release_year"]=Movies_Compl["release_year"].fillna(0)
Movies_Compl["runtime"]=Movies_Compl["runtime"].astype(int)
Movies_Compl["release_year"]=Movies_Compl["release_year"].astype(int)

In [10]:
Movies_Compl.head(1)

,adult,budget,id,imdb_id,original_language,overview,popularity,release_date,revenue,runtime,...,name_genres,id_genres,name_Spoken,iso_639_1_Spoken,id_prod,name_prod,iso_3166_1_Count,name_Count,release_year,Return
0,False,30000000.0,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81,...,Animation Comedy Family,16 35 10751,English,en,3,Pixar Animation Studios,US,United States of America,1995,12.451801

In [11]:
#El data final

Movies_Compl=Movies_Compl.sample(frac=0.5)
Movies_Compl.to_csv("../06 - Dataset Para Funciones y EDA/Data_Final.csv",index=False)