In [1]:
import pandas as pd
import ast
import numpy as np
df=pd.read_csv("Funcio.csv")

In [2]:
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas

In [3]:
idioma=df['title']
idioma.unique()

array(['Toy Story', 'Jumanji', 'Grumpier Old Men', ...,
       'Century of Birthing', 'Satan Triumphant', 'Queerama'],
      dtype=object)

In [4]:
def Idioma(x):
    Lista=[]
    idioma=df['original_language']
    
    for i in idioma:
        if i == x:
            Lista.append(x)
        else:
            pass
    
    cant=len(Lista)
    result=print("La cantidad de peliculas hechas con el idioma",x,"son",cant)
    return result

In [5]:
Idioma("en")

La cantidad de peliculas hechas con el idioma en son 32202

In [6]:
def peliculas_duracion(x):
    x=x.lower().title()
    Pelicula=df['title']
    Cantidad=-1
    for i in Pelicula:
        Cantidad+=1
        if i == x:
            break
        else:
            Cantidad+=1
    Peli=df[["release_year","runtime"]]
    Peli=pd.DataFrame(Peli)
    Peli=Peli.loc[Cantidad]
    Peli=print("La pelicula <",x, "> Fue estrenada en:",Peli[0],"y tiene una duracion de",Peli[1],"minutos")
    
            
    return Peli

In [7]:
peliculas_duracion("Toy Story")

La pelicula < Toy Story > Fue estrenada en: 1995 y tiene una duracion de 81 minutos

def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
                    Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [8]:
def Franquicias(x):
    Franqui=df['name_prod']
    Cantidad=0
    Cant_Peli=0
    Ganancias=[]
    total=sum(Ganancias)
    for i in Franqui:
        i=str(i)
        Cantidad+=1
        if x in i:
            Peli=df["Return"]
            Peli=pd.DataFrame(Peli)
            Peli=Peli.loc[Cantidad]
            Ganancias.append(Peli)
            Cant_Peli+=1
        
    if len(Ganancias) > 0:
        Ganancias
        Ganancias=pd.DataFrame(Ganancias)
        Ganancias=Ganancias.dropna()
        Ganancias=Ganancias["Return"].replace(np.inf, 0)
        Ganancias=pd.DataFrame(Ganancias)
        suma = Ganancias["Return"].sum().round(2)
        result="La productora hizo ",Cant_Peli,"con una ganancia total de",suma.round(2),"y un promedio de",(suma/Cant_Peli).round(2)
    else:
        
        result="No hay una productora con ese Nombre"
    return result

In [9]:
Franquicias("TriStar")

('La productora hizo ',
 221,
 'con una ganancia total de',
 544.47,
 'y un promedio de',
 2.46)

In [10]:
def peliculas_pais(x):
    pais=df['name_Count']
    Lugar=0
    Cant_Peli=0
   
    for i in pais:
        i=str(i)
        Lugar+=1
        if x == i:
            
            Cant_Peli+=1
        
    if Cant_Peli > 0:       

        result="Se produjeron",Cant_Peli,"en el pais",x
    else:
        
        result="No se peliculas hechas en el pais",x
            
          
    return result

In [11]:
peliculas_pais("United States of America")

('Se produjeron', 17846, 'en el pais', 'United States of America')

def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
                   Ejemplo de retorno: La productora X ha tenido un revenue de x

In [12]:
def productoras_exitosas(x):
    Franqui=df['name_prod']
    Cantidad=0
    Cant_Peli=0
    revenue=[]
    for i in Franqui:
        i=str(i)
        Cantidad+=1
        if x in i:
            Peli=df["revenue"]
            Peli=pd.DataFrame(Peli)
            Peli=Peli.loc[Cantidad]
            revenue.append(Peli)
            Cant_Peli+=1
        
    if len(revenue) > 0:
        revenue=pd.DataFrame(revenue)
        revenue=revenue.dropna()
        revenue=revenue["revenue"].replace(np.inf, 0)
        revenue=pd.DataFrame(revenue)
        suma = revenue["revenue"].sum().round(2)
        result="La productora hizo ",Cant_Peli,"con un reveue total de",suma.round(2)
    else:
        
        result="No hay una productora con ese Nombre"
            
          
    return result

In [13]:
productoras_exitosas("Universal")

('La productora hizo ', 1103, 'con un reveue total de', 27488095637.0)

In [21]:
def Directores(x):
    Franqui=df['Director']
    titl=[]
    posi=-1
    for i in Franqui:
        i=str(i)
        posi+=1
        if x in i:           
            title=df[["title","release_date","revenue","Return"]]
            title=pd.DataFrame(title)
            title=title.loc[posi]
            titl.append(title)
        else:
            pass
    Lista=pd.DataFrame(titl)
    Lista=Lista.sort_values("Return",ascending=False)
    Lista=Lista.reset_index()
    Lista=Lista[["title","release_date","revenue","Return"]]
    
           
          
    return Lista

In [22]:
Directores('George Lucas')

,title,release_date,revenue,Return
0,American Graffiti,1973-08-01,140000000.0,180.180180
1,Star Wars,1977-05-25,775398007.0,70.490728
2,Star Wars: Episode I - The Phantom Menace,1999-05-19,924317558.0,8.037544
3,Star Wars: Episode III - Revenge of the Sith,2005-05-17,850000000.0,7.522124
4,Star Wars: Episode II - Attack of the Clones,2002-05-15,649398328.0,5.411653
5,THX 1138,1971-03-11,2437000.0,3.136422
6,Still Life,2013-11-28,0.0,NaN